@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    We may use the information we collect from you when you register, make a purchase or marketing communication, surf the software or app, or use certain other site features in the following ways:
</p>
<p>
    1. To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.
</p>
<p>
    2. To improve our website in order to serve you better.
</p>
<p>
    3. To allow us to better service you in responding to your customer service requests.
</p>
<p>
    4. To quickly process your transactions.
</p>
<p>
    5. To send periodic emails regarding your order or other products and services.
 </p>
<p>   6. To follow up with them after correspondence (live chat, email or phone inquiries)
</p>
