@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Terms and Conditions</h1>

<p>
    Subject to your compliance with these Terms‚ We grant you a limited‚ non-exclusive‚ non-transferable‚ non-sublicensable license to access and make personal‚ non-commercial use of this software. This license grant does not include:
</p>
<p>
    1. Any resale or commercial use of this software or content therein.
</p>
<p>
    2. The collection and use of any product listings or descriptions.
</p>
<p>
    3. Making derivative uses of this software and its contents.
</p>
<p>
    4. Use of any data mining‚ robots‚ or similar data gathering and extraction methods on this software.
</p>
<p>
    You may not use‚ frame or utilize framing techniques to enclose any of Our trademark‚ logo‚ content or other proprietary information (including the images found at this software‚ the content of any text or the layout/design of any page or form contained on a page) without Our express written consent. Further‚ you may not use any meta tags or any other “hidden text” utilizing Our name‚ trademark‚ or product name without Our express written consent. Any breach of these Terms shall result in the immediate revocation of the license granted in this paragraph without notice to you. You are granted a limited, revocable, and nonexclusive right to create a hyperlink to the homepage of this software so long as the link does not portray us or our products or services in a false, misleading, derogatory, or otherwise offensive matter. This limited right may be revoked at any time. You may not use any of our logos or other proprietary graphics or trademarks as part of the link without express written permission.
</p>